<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Billets Musée du Louvre{% endblock %}</title>      
        <link rel="stylesheet"
        href="https://bootswatch.com/4/simplex/bootstrap.min.css">
        <link rel="stylesheet"
        href="https://bootswatch.com/4/simplex/_bootswatch.scss">
        <link rel="stylesheet"
        href="https://bootswatch.com/4/simplex/_variables.scss"> 

        {% block stylesheets %}    
        <link rel="stylesheet"
        href="css/style.css">
        <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        {% endblock %}
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path ('home') }}">Billets Musée du Louvre</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path ('select') }}">Acheter <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path ('step2') }}">Step2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path ('advert') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path ('traduction') }}">Test traduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path ('traduction') }}">Langues</a>
                    </li>
                    <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" 
                        data-toggle="dropdown">Dropdown Example
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a  class="dropdown-item" href="en">en</a></li>
                            <li><a  class="dropdown-item" href="fr">fr</a></li>
                        </ul>
                    </li>

                </ul>
                <!-- Dropdown -->
                <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="en" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="en">Action</a>
                            <a class="dropdown-item" href="fr">Another action</a>
                        </div>
                </div>
                 
                <br/> <br/>

				<div class="form-group">
                    <select class="custom-select">
                    <option selected="">Open this select menu</option>
                    <option value="1">One<a class="dropdown-item" href="fr">fr</a></option>
                    
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    </select>
                </div>	

<!--

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>      
                </form>

                <form class="form-inline my-2 my-lg-0">
                    <div class="form-group">
                    <label for="exampleSelect1">Example select</label>
                        <select class="form-control" id="exampleSelect1">
                            <option value="french">fr</option>
                            <option  value="english">en</option>
                        </select>
                    </div>
                </form>  -->

            </div>
        </nav>

        <div class="container">
        {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
