{% extends 'base.html.twig' %}

 

{% block body %}
    <br/> <br/>
    
    <h1 class="title"> RESERVER BILLETS MUSEE DU LOUVRE</h1>

    <br/>

    <img src="img/5.jpg" alt=""/>
    <br/> <br/>

    <h3 class="title">Évitez les files d’attente au Louvre et explorez le musée à votre rythme. 
    Découvrez des expositions fascinantes et admirez des œuvres célèbres dans le monde entier comme la Joconde de Léonard de Vinci.</h3>
    <br/> <br/>
    <h2 class="title"> <a  href="{{ path ('select') }}">Billets coupe-file</a></h2>
    <br/> <br/>   <br/> <br/> 


  

   <h4 class="title"> MUSEE DU LOUVRE RESERVATION</h4>

    <p class="title"> <a href="{{ path ('mentionslegales') }}">Mentions légales</a></p>
    <!-- 
  

    <h1>{{ title }}</h1>
    <h1>{% trans %}Symfony is great!{% endtrans %}</h1>
    <h2>  {{ 'Hello'|trans }}!  in english </h2>
    <br/> <br/>


    <h2> {{ 'Bienvenue'|trans }}! en français</h2>
    <h1>{% trans %}J'aime Symfony{% endtrans %}! en français</h1>

-->
{% endblock %}