{% extends 'base.html.twig' %}

{% block body %}
    <br> <br> <br> <br>


    {{ form_start(form)}}

    
    {{ form_errors(form)}}

    {{ form_row(form.price) }}
    {{ form_row(form.email) }}


    <div id="allTickets">
    {{ form_row(form.tickets) }}
    </div>

    <button  type="submit" class="btn btn-primary">Sélectionner</button>
    <br><br><br>

    {{ form_end(form)}}


{% endblock %}
